body {
  display: flex;
  justify-content: center;
  background-color: #181a1b;
  color: white;
}

div {
  margin: 4rem 2rem;
  padding: 2rem 4rem;
  border: 1px solid #6d665b;
  height: 70vh;
}

input,
button {
  background-color: #2b2a33;
  color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0.1rem 0.2rem;
}

button {
  cursor: pointer;
}

#div_welcome {
  flex-grow: 1;
}
