* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

nav,
header,
main,
footer,
.container,
#nav_logo,
#user,
#input_output,
#input_output_iframe,
#products_intro,
#products_cards_box,
.products_card,
.products_icon,
#events_community_intro,
#news_intro,
.news_icon,
#experts_intro,
#experts_cards_box,
.expert_card_profile,
#links_card_box,
.links_card,
.links_card_content,
#products_links,
#footer_logo,
#terms_subscribe_language,
#terms,
#subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}

main,
footer,
#input_output,
#products_intro,
.products_card,
#events_community_intro,
#news_intro,
#experts_intro,
#experts_cards_box,
.expert_card_profile,
#links_card_box,
.links_card,
.links_card_content,
#products_links,
#terms_subscribe_language,
.links_card_content {
  flex-direction: column;
}

nav .container {
  justify-content: space-between;
}

footer .container {
  justify-content: flex-start;
}

#links_card_box,
.links_card,
.links_card_content,
#products_links,
#terms_subscribe_language {
  align-items: flex-start;
}

#products_cards_box {
  flex-wrap: wrap;
}

.container {
  margin: 0 1rem;
  width: 95vw;
}

#nav_logo,
#footer_logo {
  height: 100%;
  width: 30vw;
}

#input_output_iframe,
.grid_background img {
  height: 100%;
  width: 100%;
}

.products_card {
  height: 80px;
  width: 40vw;
}

.products_card img {
  width: 50px;
}

.news_icon img {
  width: 128px;
}

.news_icon_img_height {
  height: 128px;
}

.products_icon {
  flex-grow: 1;
}

.events_community_heading,
.news_card {
  border: 1px solid lightgrey;
}

#news_container {
  margin: 0;
  width: 100vw;
  background-color: #f1f3f4;
}

#news_intro {
  padding: 1rem;
}

.news_card {
  background-color: white;
}

.blue_background_btn {
  padding: 0.5rem 1.3rem 0.8rem 1.3rem;
  background-color: #1a73e8;
  color: #f0f4fa;
  border: none;
  border-radius: 3px;
}

.blue_text_btn_border {
  padding: 0.4rem 1.3rem 0.6rem 1.3rem;
  background-color: white;
  color: #4d92ed;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.blue_text_btn {
  padding: 0.5rem;
  background-color: white;
  color: #4d92ed;
  border: none;
}

#input_output_desc_title {
  color: #1a73e8;
  font-size: 1.9rem;
  font-weight: 300;
}
