* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Product Sans Light", sans-serif;
  color: #202124;
}

nav,
header,
main,
footer,
.container,
#nav_logo,
#items_more,
#user,
#search_bar,
.language_toggle_btn,
#developer_profile,
#input_output,
#input_output_iframe,
#products_intro,
#products_cards_box,
.products_card,
.products_icon,
#products_intro_btn,
#events_community_intro,
#news_intro,
.news_card,
.news_icon,
#experts_intro,
#experts_cards_box,
#experts_more_btn,
.expert_card,
.expert_card_profile,
#links_card_box,
.links_card,
.links_card_content,
#products_links,
#footer_logo,
#terms_subscribe_language,
#terms,
#subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}

main,
footer,
#developer_profile,
#input_output,
#products_intro,
.products_card,
#events_community_intro,
#news_intro,
.news_card,
#experts_intro,
#experts_cards_box,
.expert_card,
.expert_card_profile,
#links_card_box,
.links_card,
.links_card_content,
#products_links,
#terms_subscribe_language,
.links_card_content {
  flex-direction: column;
}

header {
  padding: 3rem 0 0 0;
}

nav .container {
  justify-content: space-between;
  padding: 0;
}

footer .container {
  justify-content: flex-start;
  padding: 0.75rem 1rem;
}

#links_card_box,
.links_card,
.links_card_content,
#products_links,
#terms_subscribe_language {
  align-items: flex-start;
}

#products_cards_box {
  flex-wrap: wrap;
}

.container {
  margin: 0 1rem;
  padding: 1rem 0;
  width: 100%;
}

nav {
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0 1px 2px 0 #8f9091, 0 1px 10px 0 #b5b5b6;
  position: fixed;
  z-index: 1;
  background: white;
}

#nav_logo {
  justify-content: flex-start;
}

#user {
  width: 40%;
  justify-content: space-around;
}

#items {
  display: none;
}

#items ul {
  display: none;
  list-style: none;
}

.triangle_icon {
  width: 12px;
  height: 12px;
  margin: 0 12px 0 8px;
}

#items a,
#items p {
  font-size: 14px;
  color: #5f6368;
}

#search_bar {
  padding: 0.35rem 0;
}

#search_bar_magnifier,
.language_icon {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 12px;
}

#search_bar_input {
  display: none;
  width: 155px;
  background-color: #f1f3f4;
  border: none;
  font-size: 15px;
  color: #8f9091;
}

#developer_profile,
#account_profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#developer_profile {
  border: 1px solid lightgrey;
}

#account_profile {
  background-color: #202124;
}

#developer_profile span {
  width: 3.5px;
  height: 3.5px;
  margin-bottom: 0.9px;
  border-radius: 50%;
  background-color: #5f6368;
}

#nav_logo,
#footer_logo {
  height: 100%;
  width: 13vw;
}

#nav_logo img,
#footer_logo img {
  max-height: 2rem;
}

#input_output {
  margin: 0 1rem;
  width: 95vw;
}

#input_output_iframe,
#input_output_desc {
  width: 100%;
}

#input_output_iframe img {
  width: 100%;
}

#input_output_desc_title {
  margin: 1.3rem 0;
}

#input_output_desc_title a {
  color: #1a73e8;
  font-size: 2.1rem;
  font-weight: 200;
}

#input_output_desc_content {
  font-size: 15px;
}

#input_output_desc_button {
  margin-top: 2.3rem;
}

.grid_background img {
  height: 100%;
  width: 100%;
}

#products_cards_box {
  margin-top: 2rem 0;
}

.products_card {
  height: 120px;
  width: 43vw;
}

.products_icon {
  width: 100%;
  flex-grow: 1;
}

.products_card img {
  width: 64px;
}

#products_intro_btn {
  width: 100%;
  margin: 5rem 0 4rem 0;
}

.news_icon {
  flex-grow: 1;
}

.news_icon img {
  width: 128px;
}

.news_icon_img_height {
  height: 128px;
}

#products_intro h2 {
  font-weight: "Product Sans Black", sans-serif;
}
#products_intro strong {
  font-family: "Product Sans Medium", sans-serif;
}

#events_community_intro {
  margin: 0 1rem;
}

.events_community_box,
.news_card,
.expert_card {
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.events_community_box {
  position: relative;
}

.events_community_box::before {
  content: "";
  display: block;
  position: absolute;
  height: 160px;
  width: 160px;
  right: 8px;
  transform: translateY(-20%);
  background-size: contain;
}

.events_community_box:first-child::before {
  background-image: url(https://developers.google.com/site-assets/images/home/events-graphic.png);
}

.events_community_box:last-child::before {
  background-image: url(https://developers.google.com/site-assets/images/home/community-graphic.png);
}

.events_community_title,
.events_community_text,
.events_community_more_btn {
  padding: 1rem;
}

.events_community_box:first-child {
  margin-bottom: 1rem;
}

#input_output_container {
  margin: 0;
  padding: 5rem 0;
  width: 100vw;
  background: white;
  border-bottom: 1px solid lightgrey;
}

#news_container {
  margin: 0;
  width: 100vw;
  background-color: #f1f3f4;
}

#experts_container {
  margin: 0;
  width: 100vw;
  border-bottom: 1px solid lightgrey;
}

#news_intro {
  padding: 0rem 1rem;
}

#news_intro h2 {
  font-weight: 300;
}

#news_cards_box {
  margin-top: 2rem;
}

.news_card {
  height: 65vh;
  margin-bottom: 1rem;
  background-color: white;
}

.news_card:last-child,
.expert_card:last-child,
.links_card:last-child {
  margin-bottom: 0;
}

.news_title,
.news_text {
  align-self: flex-start;
  padding: 1rem;
}

.news_detail_btn {
  align-self: flex-start;
  padding: 1rem;
  margin-left: -0.5rem;
}

#experts_heading_one h2 {
  font-size: 25px;
  font-weight: 200;
}

#experts_heading_two {
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: large;
  text-align: center;
}

#experts_more_btn {
  width: 100%;
  margin: 1rem 0;
}

#experts_cards_box {
  width: 100%;
  padding: 0 2rem;
}

.expert_card {
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  height: 340px;
  width: 100%;
}

.expert_card_thumbnail {
  margin: 20px 0;
}

.expert_card_thumbnail img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.expert_card_profile_name {
  margin-bottom: 10px;
  font-size: 23px;
}

.expert_card_profile_residence {
  margin-bottom: 16px;
  text-align: center;
}

.expert_card_profile_expertise {
  margin: 16px 0;
  text-align: center;
}

.expert_card_profile_expertise p:last-child {
  color: #808080;
}

#links_card_box {
  width: 100%;
}

.links_card {
  margin-bottom: 1.5rem;
  width: 100%;
}

.links_card_title {
  margin-bottom: 4px;
}

.links_card_title h3 {
  font-weight: 200;
}

.links_card_content ul {
  list-style: none;
  padding: 0;
}

.links_card_content li {
  padding: 0.5rem 0;
  font-size: 15px;
}

#products_links {
  padding: 1.5rem 0;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  width: 100%;
}

#terms * {
  margin-right: 8px;
}

#subscribe {
  margin: 22px 0;
}

#subscribe .blue_background_btn {
  margin: 0 1rem;
}

.blue_title {
  font-size: 1.5rem;
  color: #1a73e8;
}

.blue_background_btn {
  padding: 0.6rem 1.3rem 0.6rem 1.3rem;
  background-color: #1a73e8;
  color: #f0f4fa;
  border: none;
  border-radius: 3px;
}

.blue_text_btn_border {
  padding: 0.4rem 1.3rem 0.6rem 1.3rem;
  background-color: white;
  color: #1a73e8;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.blue_text_btn {
  padding: 0.5rem;
  background-color: white;
  color: #1a73e8;
  border-radius: 3px;
  border: none;
}

#nav_language {
  display: none;
}

.language_toggle_btn {
  padding: 0.3rem 0;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.language_toggle_btn p {
  font-size: 14px;
  color: #5f6368;
}

button,
.language_toggle_btn,
#nav_logo,
#footer_logo,
#items_more,
#search_bar_magnifier,
#developer_profile,
#account_profile {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media (min-width: 501px) {
  /* experts 變兩個 */
  #experts_cards_box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 28px;
  }

  .expert_card {
    height: 340px;
    width: 42vw;
  }

  .expert_card:nth-child(3) {
    margin-bottom: 0rem;
  }
}

@media (min-width: 601px) {
  /*兩個一排 */
  #input_output,
  #events_community_intro {
    flex-direction: row;
    justify-content: space-between;
  }

  #input_output_iframe {
    order: 1;
  }

  #input_output_iframe,
  #input_output_desc {
    width: 49%;
  }

  .events_community_box,
  .events_community_box:first-child {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 48%;
    height: 48vh;
  }

  .events_community_text {
    padding-bottom: 0;
    flex-grow: 1;
  }

  .events_community_more_btn {
    padding-top: 0;
  }

  #news_cards_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .news_card {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 67vh;
    width: 45.5vw;
  }

  .news_card:first-child {
    margin-bottom: 1rem;
  }

  .news_icon {
    margin: 10px auto;
    height: 32%;
    flex-grow: 0;
  }

  .news_text {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
  }

  #news_heading {
    font-size: 20px;
  }

  /* 三個一排 */
  #links_card_box {
    flex-direction: row;
  }

  /* 四個一排 */
  #products_cards_box {
    margin-top: 2rem;
    justify-content: space-around;
  }

  .products_card {
    width: 22vw;
    margin-bottom: 1rem;
  }

  #products_intro_btn {
    margin-top: 3.5rem;
  }

  /* 導覽列 English 顯示 */
  #nav_language {
    display: flex;
  }

  /* container 間距加大 */
  .container {
    padding: 1.5rem 0;
  }

  /* products_intro 字體加大 */
  #products_intro h2 {
    font-size: 2.8rem;
  }

  /* experts_card 字體加大 */
  #experts_intro h2 {
    font-size: 2rem;
  }
}

@media (min-width: 841px) {
  /* 導覽列 search bar、 items more 顯示 */
  #user {
    width: 55%;
  }

  #search_bar {
    width: 200px;
    background-color: #f1f3f4;
    border-radius: 5px;
  }

  #search_bar_input {
    display: block;
  }

  #search_bar_input:focus {
    outline: none;
  }

  #items {
    display: flex;
  }

  /* news_card 顯示成四個一排 */
  .news_card {
    min-height: 85vh;
    width: 22.5vw;
  }

  .news_icon {
    align-items: flex-start;
    margin: 0 auto;
    height: 20%;
  }

  .news_icon img {
    width: 96px;
  }

  .news_icon_img_height {
    height: 96px;
  }
  /* products_links 顯示成一橫排 */
  #products_links {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  #products_links .links_card_content {
    flex-direction: row;
    flex-grow: 1;
  }

  #products_links .links_card_content ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
  }
  /* terms_subscribe_language 顯示成一橫排 */
  #terms_subscribe_language {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
  }

  #terms {
    margin-right: auto;
  }

  #subscribe {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1017px) {
  /* experts_card 顯示成四個一排 */
  #experts_intro {
    width: 97vw;
  }

  #experts_cards_box {
    flex-wrap: nowrap;
    padding: 0;
  }

  .expert_card {
    height: 340px;
    width: 22.5vw;
  }

  .expert_card,
  .expert_card:nth-child(3),
  .expert_card:last-child {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1428px) {
  /* 導覽列 items 完整顯示 6個 item */
  #user {
    width: 30vw;
  }

  #search_bar_magnifier {
    margin: 0 5px 0 12px;
  }

  #items {
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 2.2rem;
  }

  #items ul {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }

  #items li:last-child {
    display: none;
  }

  #items ul img {
    margin-right: 0;
  }

  #items_more {
    margin-left: 3rem;
  }

  /* items hover effect */
  #items li,
  #items a {
    height: 3rem;
    display: flex;
    align-items: center;
  }

  /* news_card 調整 */
  .news_card {
    min-height: 67vh;
  }

  .events_community_box,
  .events_community_box:first-child {
    height: 300px;
  }
  .events_community_title {
    padding-bottom: 1.5rem;
  }

  .events_community_text {
    padding-top: 0;
  }

  .news_icon {
    align-items: center;
    height: 40%;
  }
}

/* rotate triangle icons */
#items a:hover {
  color: black;
  border-bottom: 2px solid black;
}

.triangle_icon_rotation {
  animation: rotation 0.4s;
  animation-fill-mode: forwards;
}

@keyframes rotation {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

/* change background color or when hover over certain element */
.blue_background_btn:hover {
  background-color: #1868d0;
}

.blue_text_btn_border:hover,
.blue_text_btn:hover {
  background-color: #bfe9f9;
}

/* extends search bar when it is clicked */
.search_bar_extending {
}

/* reference */
#search_bar {
  padding: 0.35rem 0;
}

#search_bar_magnifier,
.language_icon {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 12px;
}

#search_bar_input {
  display: none;
  width: 155px;
  background-color: #f1f3f4;
  border: none;
  font-size: 15px;
  color: #8f9091;
}

#search_bar {
  width: 200px;
  background-color: #f1f3f4;
  border-radius: 5px;
}

#search_bar_input {
  display: block;
}

#search_bar_input:focus {
  outline: none;
}

#items {
  display: flex;
}
